spring:
  datasource:
    url: jdbc:mysql://localhost:3306/content_center
    hikari:
      username: root
      password: 123456
      # >= 6.x com.mysql.cj.jdbc.Driver
      # <= 5.x com.mysql.jdbc.Driver
      driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        # 指定nacos server的地址
        server-addr: localhost:8848
        cluster-name: BJ
        # 元数据主要用来解决多版本共存 例如：user-center v1只能调用content-center v1
        metadata:
          # 自己这个实例的版本
          version: v1
          # 允许调用的提供者版本
          target-version: v1
    sentinel:
      filter:
        # 打开/关闭掉对Spring MVC端点的保护
        enabled: true
      transport:
        # 指定sentinel 控制台的地址
        dashboard: localhost:8080
    # 整合stream
    stream:
      rocketmq:
        binder:
          name-server: 127.0.0.1:9876
        bindings:
          output:
            producer:
              transactional: true
              group: tx-add-bonus-group
      bindings:
        output:
          # 用来指定topic
          destination: add-bonus
#          destination: stream-test-topic
#        my-output:
#          destination: stream-my-topic
  application:
    # 服务名称尽量用-， 不要用_， 不要用特殊字符
    name: content-center
  main:
    allow-bean-definition-overriding: true
server:
  port: 8010

# 自定义负载均衡策略
#user-center:
#  ribbon:
#    NFLoadBalancerRuleClassName: com.netflix.loadbalancer.RandomRule
# ribbon的饥饿加载
ribbon:
  eager-load:
    enabled: true
    clients: user-center
logging:
  level:
    com.waitfor.contentcenter.feignclient.UserCenterFeignClient: debug
    # 使用stream时控制台不打印nacos心跳日志
    com.alibaba.nacos: error
feign:
  sentinel:
    # 为feign整合sentinel
    enabled: true
  client:
    config:
      # 想要调用的微服务的名称
      # 全局配置
      default:
        loggerLevel: full
        requestInterceptors:
          - com.waitfor.contentcenter.feignclient.interceptor.TokenRelayRequestIntecepor
  httpclient:
    # 让feign使用apache httpclient做请求； 而不是默认的urlconnection
    enabled: true
    # feign的最大连接数
    max-connections: 200
    # feign单个路径的最大连接数
    max-connections-per-route: 50
#/actuator/sentinel默认隐藏，配置把它暴露出来
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
resttemplate:
  sentinel:
    # 关闭 @SentinelRestTemplate注解（true开启）
    enabled: false
#rocketmq:
#  name-server: 127.0.0.1:9876
#  producer:
#    # 小坑： 必须制定group
#    group: test-group
jwt:
  secret: aaaaaaabbbbbbcccccdddddaaaaaaabbbbbbcccccdddddaaaaaaabbbbbbcccccddddd
  # 有效期，单位秒，默认2周
  expire-time-in-second: 1209600